* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1rem;
    box-sizing: border-box;
}

.navbar{
    background-color: #11557C;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.main-content{
    display: flex;
    justify-content: center;
    background-color: black;
    padding-block: 3rem;
    width: 75%;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.chat-window{
    display: flex;
    flex-direction: column-reverse;
    padding-block: 2.5rem 2rem;
    padding-inline: 0.5rem;
    overflow-y: scroll;
    gap: 1rem;
    height: 100%;
}

.user-text{
    background-color: #30799B;
    align-self: end;
}

.bot-text{
    background-color: #86989B;
    align-self: start;
}

.chat-text{
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
    max-width: 70%
}

.info-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.info-text{
    color: #444444;
    text-align: center;
    padding: 0 2rem;
}


.avatar-image{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid black;
}

.input{
    background-color: #fafafa;
    color: #737375;
    width: 100%;
    border: 0;
    border-top: 1px solid #737375;
    padding: 1rem 0.5rem;
}
